.openUISunshine .forecastHeader {
    background-color: #ff1ca8f4;
}

.openUISunshine .listIcon {
    padding-top: 0.8em;
    padding-right: 0.5em;
    padding-left: 0.4em;
}

.openUISunshine .listGroup {
    width: 40%;
    padding: 0.5em;
}

.openUISunshine .listDay {
}

.openUISunshine .listDesc {
}

.openUISunshine .listMax {
}

.openUISunshine .listMin {
}

.openUISunshine .detailsContent {
    padding: 0.9em;
    background-color: #ffffff;
}

.openUISunshine .detailsTemperature {
    width: 50%;
}

.openUISunshine .detailsWeatherStatus {
    width: 50%;
}

.openUISunshine .detailsImage { 
}

.openUISunshine .detailsDay {
    font-size: 20px;
}

.openUISunshine .detailsDate {
    font-size: 100%;
}

.openUISunshine .detailsDesc {
    font-size: 50px;
}

.openUISunshine .detailsMax {
    padding-left:3em;
}

.openUISunshine .detailsMin {
    padding-left:3em;
}

.sapUiUfdShellBackground, .sapMGlobalBackgroundColor {  
    background-color: transparent !important;  
    background-image: none !important;  
}  
        
.sapMShellGlobalInnerBackground {  
    background-image: none !important;  
}  