.openUISunshine .forecastHeader {
    background-color: #1ca8f4;
}

/*Styling for first forecast*/

.openUISunshine .firstListItem {
    background-color: #1ca8f4;
    padding: 0.5em;
}

.openUISunshine .firstRightBox { 
}

.openUISunshine .firstDay {
    font-size: 1em;
    color: #ffffff;
}

.openUISunshine .firstImage { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.openUISunshine .firstDesc {
    font-size: 1em;
    color: #ffffff;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    text-align: center;
}
.openUISunshine .firstMax {
    font-size: 5em;
    color: #ffffff; 
    padding-left: 0.4em;
}
.openUISunshine .firstMin {
    font-size: 3em;
    color: #ffffff;
    padding-left: 0.9em;
}

/*Styling for main list of forecasts*/
.openUISunshine .listIcon {
    padding-top: 0.8em;
    padding-right: 0.5em;
    padding-left: 0.4em;
}

.openUISunshine .listLeft {
    width: 70%;
    padding: 0.5em;
}

.openUISunshine .listRight {
    width: 10%;
    padding: 0.5em;
}

.openUISunshine .listDay {
    font-size: 1em;
    color: #000000;
}

.openUISunshine .listDesc {
    font-size: 0.8em;
    color: #646464;
    text-align: center;
}

.openUISunshine .listMax {    
    font-size: 1em;
    color: #000000;
}

.openUISunshine .listMin {
    font-size: 0.8em;
    color: #646464;
}

/*Styling for details page*/
.openUISunshine .detailsContent {
    padding: 0.4em;
    background-color: #ffffff;
}

.openUISunshine .detailsHeader {
    background-color: #1ca8f4;
}

.openUISunshine .detailsBackButton {
    background-color: #1ca8f4;
    color: #1ca8f4;
}

.openUISunshine .detailsTemperature {
    width: 50%;
}

.openUISunshine .detailsWeatherStatus {
    width: 50%;
}

.openUISunshine .detailsImage { 
}

.openUISunshine .detailsDay {
    font-size: 1.2em;
    color: #000000;
}

.openUISunshine .detailsDate {
    font-size: 1em;
    color: #646464;
}

.openUISunshine .detailsDesc {
    font-size: 1em;
    color: #646464;
}

.openUISunshine .detailsMax {
    font-size: 6em;
    color: #000000;
    padding-left:0.1em;
}

.openUISunshine .detailsMin {
    font-size: 4em;
    color: #646464;
    padding-left:0.1em;
}

.openUISunshine .detailsHumidity {
    font-size: 1em;
    color: #000000;
}

.openUISunshine .detailsWind {
    font-size: 1em;
    color: #000000;
}

.openUISunshine .detailsPressure {
    font-size: 1em;
    color: #000000;  
}

/* Override SAP styling */
.sapUiUfdShellBackground, .sapMGlobalBackgroundColor {  
    background-color: transparent !important;  
    background-image: none !important;  
}  
        
.sapMShellGlobalInnerBackground {  
    background-color: transparent !important;  
    background-image: none !important;  
}  

.sapThemeBrand-asOutlineColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 

.sapThemeHighlight-asColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeHighlight-asBorderColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeHighlight-asBackgroundColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeHighlight-asOutlineColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemePageBG {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemePageBG-asColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBarBG {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBarHeading {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBarText {
    background-color: transparent !important;  
    background-image: none !important;  
} 

.sapThemeBaseBG-asBackgroundColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 

.sapThemeBaseBG {
    background-color: transparent !important;  
    background-image: none !important;  
} 

.sapThemeBarBG {
    background-color: transparent !important;  
    background-image: none !important;  
}
 
.sapThemeBaseBG-asBackgroundColor {
    background-color: transparent !important;  
    background-image: none !important;  
}

.sapThemeText-asBackgroundColor {
    background-color: transparent !important;  
    background-image: none !important;  
}

.sapThemeHighlight-asOutlineColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 

.sapThemeBaseBG {
    background-color: transparent !important;  
    background-image: none !important;  
} 

.sapThemeBaseBG-asBackgroundColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBaseBG-asBorderColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBaseBG-asColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBrand-asColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBrand-asBorderColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBrand-asBackgroundColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeBrand-asOutlineColor {
    background-color: transparent !important;  
    background-image: none !important;  
}

.sapThemeFontFamily {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeFontSize {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeFont {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeText {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeText-asColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeText-asBackgroundColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeText-asBorderColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeText-asOutlineColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeTextInverted {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeTextInverted-asColor {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeNegativeText {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeCriticalText {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemePositiveText {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeLightText {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeMediumText {
    background-color: transparent !important;  
    background-image: none !important;  
} 
.sapThemeDarkText {
    background-color: transparent !important;  
    background-image: none !important;  
} 