.forecastHeader {
    background-color: #ff1ca8f4;
}

.detailsBackground {
    background-color: #ffffff;
}

.listIcon {
    padding-top: 0.8em;
    padding-right: 0.5em;
    padding-left: 0.4em;
}

.listGroup {
    width: 40%;
    padding: 0.5em;
}

.listDay {
}

.listDesc {
}

.listMax {
}

.listMin {
}

.detailsContent {
    padding: 0.9em;
}

.detailsTemperature {
    width: 50%;
}

.detailsWeatherStatus {
    width: 50%;
}

.detailsImage { 
    width: 25%;
    margin: auto;
    /*border:3px solid #8AC007;*/
    padding: 10px;
}

.detailsDay {
    font-size: 20px;
}

.detailsDate {
    font-size: 100%;
}

.detailsDesc {
    width: 25%;
    margin: auto;
    /* border:3px solid #8AC007; */
    padding: 10px;
}

.detailsMax {
    padding-left:3em;
}

.detailsMin {
    padding-left:3em;
}

.sapUiUfdShellBackground, .sapMGlobalBackgroundColor {  
    background-color: transparent !important;  
    background-image: none !important;  
}  
        
.sapMShellGlobalInnerBackground {  
    background-image: none !important;  
}  